* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Navigation Bar */

.nav-bar {
  background-color: #fff;
  display: grid;
  grid-template-columns: 8% 13% 60% 20%;
  padding: 5px;
  height: 33px;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  position: fixed;
  top: 0;
  z-index: 1200px;
}

.nav-icon,
.nav-header {
  padding-top: 6px;
}

.nav-icon i {
  margin-left: 20px;
  cursor: pointer;
}

.nav-header h5 {
  font-weight: 800;
  cursor: pointer;
}

.logo {
  text-align: center;
  padding: 5px 50px 0 0;
  margin-bottom: 0;
}

.nav-buttons {
  margin: -2px 0 0 40px;
  padding-top: 0;
}

.nav-buttons button {
  padding: 12px 8px 8px 14px;
  border-radius: 4px;
  background-color: #567b95;
  color: #fff;
  font-size: 11px;
  font-weight: 750;
  cursor: pointer;
  border: none;
}

/* Banner */

.main-container {
  margin-top: 2%;
  padding: 10px;
}

.section-title {
  padding: 20px;
  font-size: 35px;
  text-align: center;
  font-style: italic;
}

.banner-img {
  max-width: 60rem;
  margin: auto;
}

.image-description-text {
  font-size: 12px;
  color: #666;
}

.flex-item-2 {
  max-width: 50%;
  margin: auto;
}

.head-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.editor,
.big-text {
  padding: 1rem 1rem 0 1rem;
  font-weight: 700;
}

.date {
  font-size: 13px;
}

.icon {
  padding: 5px;
  background: rgb(245, 241, 241);
  border-radius: 50%;
  cursor: pointer;
}

.icon:hover {
  background: #fff;
  border: 0.5px solid rgb(216, 213, 213);
}

.site-main-text p {
  padding: 1rem;
  font-weight: 500;
  font-size: 18px;
}

aside {
  width: 15%;
  right: 0;
  position: absolute;
  top: 1400px;
  margin-right: 140px;
  z-index: -1000px;
}

aside img {
  width: 30%;
  float: left;
  overflow: hidden;
  padding: 20px;
}

.logo img {
  width: 195px;
  cursor: pointer;
}

.banner-img img {
  width: 100%;
}

.aside-text {
  padding: 15px;
}

#editor {
  border-bottom: 0.5px solid rgb(223, 221, 221);
}

/* Theory */

.theory {
  max-width: 70%;
  margin: 0 auto;
  padding-top: 20px;
}

.theory-header {
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
}

.theory-description {
  font-size: 13px;
  color: #666;
  line-height: 1rem;
}

.theory-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 220px;
  grid-gap: 20px;
  margin-top: 20px;
  padding-bottom: 20px;
}

.theory-div img {
  width: 100%;
  margin: auto;
  height: 100px;
}

.div-description {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}

.written {
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  border-top: 1px solid black;
}

figcaption {
  font-size: 12px;
  color: #666;
  line-height: 20px;
  max-width: 900px;
  margin-top: -20px;
}

figcaption span {
  font-size: 10px;
  color: #9c9595;
  max-width: 900px;
}

.globe p {
  font-size: 11px;
  color: #9c9595;
  max-width: 600px;
}

.last-paragraph {
  padding: 10px;
}

.button {
  display: flex;
  justify-content: space-between;
}

.button button {
  padding: 3px 80px;
  background-color: #567b95;
  color: #fff;
  border-radius: 5px;
  margin-left: 30px;
}

/* space */

.space-popular {
  width: 90%;
  padding-top: 40px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 70% 25%;
  grid-gap: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.editor-choice {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.space,
.popular {
  border-top: 1px solid black;
}

.space-header {
  padding: 15px;
}

/* popular */

.popular-content p {
  padding: 15px 0;
  border-top: 1px solid #e0d7d7;
}
