* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Noto Serif', serif;
  margin: 0;
  padding: 0;
  height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* Navigation Bar */

.nav-bar {
  background-color: #fff;
  display: grid;
  grid-template-columns: 8% 13% 60% 20%;
  padding: 5px;
  height: 33px;
  width: 100%;
  border-bottom: 1px solid #e2e2e2;
  position: fixed;
  top: 0;
  z-index: 1200px;
}

.nav-icon,
.nav-header {
  padding-top: 6px;
}

.nav-icon i {
  margin-left: 20px;
  cursor: pointer;
}

.nav-header h5 {
  font-weight: 800;
  cursor: pointer;
}

.logo {
  text-align: center;
  padding: 5px 50px 0 0;
  margin-bottom: 0;
}

.logo img {
  width: 195px;
  cursor: pointer;
}

.nav-buttons {
  margin: -2px 0 0 40px;
  padding-top: 0;
}

.nav-buttons button {
  padding: 12px 8px 8px 14px;
  border-radius: 4px;
  background-color: #567b95;
  color: #fff;
  font-size: 11px;
  font-weight: 750;
  cursor: pointer;
  border: none;
}

/* Banner */

.main-container {
  margin-top: 5%;
  padding: 10px;
}

.section-title {
  padding: 20px;
  font-size: 35px;
  text-align: center;
}

.banner-img {
   max-width: 60rem;
   margin: auto;
}

.banner-img img {
  width: 100%;
}

.image-description-text {
   font-size: 12px;
}

.flex-item-2 {
  max-width: 40%;
  margin: auto;
}

.head-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.editor, .big-text {
  padding: 1rem 1rem 0 1rem;
  font-weight: 700;
}

.date {
  font-size: 13px;
}

.icon {
  padding: 5px;
  background: rgb(245, 241, 241);
  border-radius: 50%;
  cursor: pointer;
}

.icon:hover {
  background: #fff;
  border: .5px solid rgb(216, 213, 213);
}

.site-main-text p {
  padding: 1rem;
  font-weight: 500;
}

aside {
  width: 15%;
  right: 0;
  position: absolute;
  top: 1400px;
  margin-right: 140px;
  z-index: -1000px;
}

aside img {
  width: 30%;
  float: left;
  overflow: hidden;
  padding: 20px;
}

.aside-text {
  padding: 15px;
}

#editor {
  border-bottom: .5px solid rgb(223, 221, 221);
}